#라이브러리 임포트

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import numpy as np
import pandas as pd

#주어진 대여소번호와 대여일시에서 정기권이용자와 전체이용자 계산하기

In [37]:
data = pd.read_csv('/content/drive/MyDrive/데이터셋/0_raw_data/raw_data/서울특별시 공공자전거 이용정보(시간대별)_22.05.csv', encoding = 'cp949')
data = data[['대여일자', '대여시간', '대여소번호', '대여구분코드']]
data['대여일시'] = pd.to_datetime(list(data['대여일자'].astype('str') + ' ' + data['대여시간'].astype('str') + ':00' +':00'))

data_1 = data[data['대여구분코드'] == '정기권']
data_1 = data_1[['대여소번호', '대여일시']]
data_1 = pd.DataFrame(data_1.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data_1.columns = ['대여소번호', '대여일시', '정기권이용자수']

data = data[['대여소번호', '대여일시']]
data = pd.DataFrame(data.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data.columns = ['대여소번호', '대여일시', '전체이용자수']

data_1 = pd.merge(data, data_1, how = 'left', left_on = ['대여소번호', '대여일시'], right_on = ['대여소번호', '대여일시'])
data_1 = data_1.fillna(0)
data_1 = data_1[['대여소번호', '대여일시', '정기권이용자수', '전체이용자수']]
data_1

         대여소번호                대여일시  정기권이용자수  전체이용자수
0            3 2022-05-01 04:00:00      1.0       1
1            3 2022-05-02 12:00:00      1.0       1
2            3 2022-05-02 16:00:00      1.0       1
3            3 2022-05-02 18:00:00      1.0       1
4            3 2022-05-02 19:00:00      1.0       1
...        ...                 ...      ...     ...
1248344  99999 2022-05-27 09:00:00      1.0       1
1248345  99999 2022-05-30 13:00:00      1.0       1
1248346  99999 2022-05-30 16:00:00      1.0       1
1248347  99999 2022-05-31 11:00:00      1.0       1
1248348  99999 2022-05-31 14:00:00      1.0       1

[1248349 rows x 4 columns]

In [38]:
data = pd.read_csv('/content/drive/MyDrive/데이터셋/0_raw_data/raw_data/서울특별시 공공자전거 이용정보(시간대별)_22.06.csv', encoding = 'cp949')
data = data[['대여일자', '대여시간', '대여소번호', '대여구분코드']]
data['대여일시'] = pd.to_datetime(list(data['대여일자'].astype('str') + ' ' + data['대여시간'].astype('str') + ':00' +':00'))

data_2 = data[data['대여구분코드'] == '정기권']
data_2 = data_2[['대여소번호', '대여일시']]
data_2 = pd.DataFrame(data_2.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data_2.columns = ['대여소번호', '대여일시', '정기권이용자수']

data = data[['대여소번호', '대여일시']]
data = pd.DataFrame(data.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data.columns = ['대여소번호', '대여일시', '전체이용자수']

data_2 = pd.merge(data, data_2, how = 'left', left_on = ['대여소번호', '대여일시'], right_on = ['대여소번호', '대여일시'])
data_2 = data_2.fillna(0)
data_2 = data_2[['대여소번호', '대여일시', '정기권이용자수', '전체이용자수']]
data_2

         대여소번호                대여일시  정기권이용자수  전체이용자수
0            3 2022-06-01 09:00:00      1.0       1
1            3 2022-06-02 13:00:00      1.0       1
2            3 2022-06-02 17:00:00      0.0       1
3            3 2022-06-02 18:00:00      1.0       1
4            3 2022-06-02 21:00:00      1.0       1
...        ...                 ...      ...     ...
1123105  99999 2022-06-22 10:00:00      1.0       1
1123106  99999 2022-06-23 13:00:00      1.0       1
1123107  99999 2022-06-24 15:00:00      2.0       2
1123108  99999 2022-06-28 10:00:00      1.0       1
1123109  99999 2022-06-29 13:00:00      1.0       1

[1123110 rows x 4 columns]

In [39]:
data = pd.read_csv('/content/drive/MyDrive/데이터셋/0_raw_data/raw_data/서울특별시 공공자전거 이용정보(시간대별)_22.07.csv', encoding = 'cp949')
data = data[['대여일자', '대여시간', '대여소번호', '대여구분코드']]
data['대여일시'] = pd.to_datetime(list(data['대여일자'].astype('str') + ' ' + data['대여시간'].astype('str') + ':00' +':00'))

data_3 = data[data['대여구분코드'] == '정기권']
data_3 = data_3[['대여소번호', '대여일시']]
data_3 = pd.DataFrame(data_3.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data_3.columns = ['대여소번호', '대여일시', '정기권이용자수']

data = data[['대여소번호', '대여일시']]
data = pd.DataFrame(data.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data.columns = ['대여소번호', '대여일시', '전체이용자수']

data_3 = pd.merge(data, data_3, how = 'left', left_on = ['대여소번호', '대여일시'], right_on = ['대여소번호', '대여일시'])
data_3 = data_3.fillna(0)
data_3 = data_3[['대여소번호', '대여일시', '정기권이용자수', '전체이용자수']]
data_3

         대여소번호                대여일시  정기권이용자수  전체이용자수
0          102 2022-07-01 00:00:00      2.0       2
1          102 2022-07-01 01:00:00      1.0       1
2          102 2022-07-01 02:00:00      0.0       1
3          102 2022-07-01 05:00:00      1.0       1
4          102 2022-07-01 06:00:00      2.0       2
...        ...                 ...      ...     ...
1161490   5857 2022-07-31 17:00:00      1.0       1
1161491   9979 2022-07-15 11:00:00      1.0       1
1161492   9980 2022-07-01 07:00:00      1.0       1
1161493   9980 2022-07-25 17:00:00      1.0       1
1161494   9980 2022-07-28 20:00:00      0.0       1

[1161495 rows x 4 columns]

In [40]:
data = pd.read_csv('/content/drive/MyDrive/데이터셋/0_raw_data/raw_data/서울특별시 공공자전거 이용정보(시간대별)_21.05.csv', encoding = 'cp949')
data = data[['대여일자', '대여시간', '대여소번호', '대여구분코드']]
data['대여일시'] = pd.to_datetime(list(data['대여일자'].astype('str') + ' ' + data['대여시간'].astype('str') + ':00' +':00'))

data_4 = data[data['대여구분코드'] == '정기권']
data_4 = data_4[['대여소번호', '대여일시']]
data_4 = pd.DataFrame(data_4.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data_4.columns = ['대여소번호', '대여일시', '정기권이용자수']

data = data[['대여소번호', '대여일시']]
data = pd.DataFrame(data.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data.columns = ['대여소번호', '대여일시', '전체이용자수']

data_4 = pd.merge(data, data_4, how = 'left', left_on = ['대여소번호', '대여일시'], right_on = ['대여소번호', '대여일시'])
data_4 = data_4.fillna(0)
data_4 = data_4[['대여소번호', '대여일시', '정기권이용자수', '전체이용자수']]
data_4

        대여소번호                대여일시  정기권이용자수  전체이용자수
0           3 2021-05-02 21:00:00      1.0       1
1           3 2021-05-03 15:00:00      1.0       1
2           3 2021-05-07 15:00:00      1.0       1
3           3 2021-05-09 16:00:00      1.0       1
4           3 2021-05-11 06:00:00      1.0       1
...       ...                 ...      ...     ...
851737   9999 2021-05-31 09:00:00      1.0       1
851738   9999 2021-05-31 12:00:00      2.0       2
851739   9999 2021-05-31 17:00:00      2.0       2
851740   9999 2021-05-31 20:00:00      1.0       1
851741   9999 2021-05-31 21:00:00      0.0       1

[851742 rows x 4 columns]

In [41]:
data = pd.read_csv('/content/drive/MyDrive/데이터셋/0_raw_data/raw_data/서울특별시 공공자전거 이용정보(시간대별)_21.06.csv', encoding = 'cp949')
data = data[['대여일자', '대여시간', '대여소번호', '대여구분코드']]
data['대여일시'] = pd.to_datetime(list(data['대여일자'].astype('str') + ' ' + data['대여시간'].astype('str') + ':00' +':00'))

data_5 = data[data['대여구분코드'] == '정기권']
data_5 = data_5[['대여소번호', '대여일시']]
data_5 = pd.DataFrame(data_5.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data_5.columns = ['대여소번호', '대여일시', '정기권이용자수']

data = data[['대여소번호', '대여일시']]
data = pd.DataFrame(data.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data.columns = ['대여소번호', '대여일시', '전체이용자수']

data_5 = pd.merge(data, data_5, how = 'left', left_on = ['대여소번호', '대여일시'], right_on = ['대여소번호', '대여일시'])
data_5 = data_5.fillna(0)
data_5 = data_5[['대여소번호', '대여일시', '정기권이용자수', '전체이용자수']]
data_5

        대여소번호                대여일시  정기권이용자수  전체이용자수
0           3 2021-06-01 16:00:00      1.0       1
1           3 2021-06-08 13:00:00      0.0       1
2           3 2021-06-18 16:00:00      1.0       1
3           3 2021-06-20 16:00:00      1.0       1
4           3 2021-06-21 16:00:00      1.0       1
...       ...                 ...      ...     ...
956936  88888 2021-06-03 09:00:00      1.0       1
956937  88888 2021-06-05 18:00:00      1.0       1
956938  88888 2021-06-10 11:00:00      1.0       1
956939  88888 2021-06-21 13:00:00      1.0       1
956940  99997 2021-06-03 09:00:00      0.0       1

[956941 rows x 4 columns]

In [42]:
data = pd.read_csv('/content/drive/MyDrive/데이터셋/0_raw_data/raw_data/서울특별시 공공자전거 이용정보(시간대별)_21.07.csv', encoding = 'cp949')
data = data[['대여일자', '대여시간', '대여소번호', '대여구분코드']]
data['대여일시'] = pd.to_datetime(list(data['대여일자'].astype('str') + ' ' + data['대여시간'].astype('str') + ':00' +':00'))

data_6 = data[data['대여구분코드'] == '정기권']
data_6 = data_6[['대여소번호', '대여일시']]
data_6 = pd.DataFrame(data_6.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data_6.columns = ['대여소번호', '대여일시', '정기권이용자수']

data = data[['대여소번호', '대여일시']]
data = pd.DataFrame(data.groupby(['대여소번호', '대여일시']).value_counts()).reset_index()
data.columns = ['대여소번호', '대여일시', '전체이용자수']

data_6 = pd.merge(data, data_6, how = 'left', left_on = ['대여소번호', '대여일시'], right_on = ['대여소번호', '대여일시'])
data_6 = data_6.fillna(0)
data_6 = data_6[['대여소번호', '대여일시', '정기권이용자수', '전체이용자수']]
data_6

        대여소번호                대여일시  정기권이용자수  전체이용자수
0           3 2021-07-01 22:00:00      1.0       1
1           3 2021-07-02 16:00:00      1.0       1
2           3 2021-07-04 22:00:00      1.0       1
3           3 2021-07-06 16:00:00      1.0       1
4           3 2021-07-07 16:00:00      1.0       1
...       ...                 ...      ...     ...
970575   9999 2021-07-30 21:00:00      1.0       1
970576   9999 2021-07-30 23:00:00      2.0       2
970577   9999 2021-07-31 11:00:00      1.0       1
970578   9999 2021-07-31 22:00:00      0.0       1
970579  99999 2021-07-22 13:00:00      1.0       1

[970580 rows x 4 columns]

In [51]:
jg_2021 = pd.concat([data_4, data_5, data_6]).sort_values(['대여소번호', '대여일시'])
jg_2022 = pd.concat([data_1, data_2, data_3]).sort_values(['대여소번호', '대여일시'])

#해당하는 클러스터 매치

In [52]:
cluster_for_live = pd.read_csv('/content/drive/MyDrive/데이터셋/3_live_work_and_clustering/version_2/clusters_for_live')
cluster_for_work = pd.read_csv('/content/drive/MyDrive/데이터셋/3_live_work_and_clustering/version_2/clusters_for_work')

In [53]:
cluster_total = pd.concat([cluster_for_live, cluster_for_work])
cluster_total = cluster_total[['ID', 'cluster']]
cluster_total

          ID  cluster
0      103.0      253
1      105.0      253
2      106.0      253
3      109.0      253
4      111.0      264
...      ...      ...
1052  4791.0        7
1053  4793.0       91
1054  4796.0      129
1055  4852.0        2
1056  4860.0       30

[2305 rows x 2 columns]

In [54]:
jg_2021 = pd.merge(jg_2021, cluster_total, how = 'left', left_on = '대여소번호', right_on = 'ID')
jg_2021 = jg_2021.dropna()
jg_2021 = pd.DataFrame(jg_2021.groupby(['cluster', '대여일시'])['정기권이용자수', '전체이용자수'].sum()).reset_index()
jg_2021['정기권이용자비율'] = jg_2021['정기권이용자수']/jg_2021['전체이용자수']
jg_2021=jg_2021[['cluster', '대여일시', '정기권이용자비율']]
jg_2021

<ipython-input-54-e742931563de>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  jg_2021 = pd.DataFrame(jg_2021.groupby(['cluster', '대여일시'])['정기권이용자수', '전체이용자수'].sum()).reset_index()

        cluster                대여일시  정기권이용자비율
0           0.0 2021-05-01 00:00:00  0.714286
1           0.0 2021-05-01 01:00:00  1.000000
2           0.0 2021-05-01 02:00:00  1.000000
3           0.0 2021-05-01 03:00:00  1.000000
4           0.0 2021-05-01 04:00:00  1.000000
...         ...                 ...       ...
740402    399.0 2021-07-31 19:00:00  0.727273
740403    399.0 2021-07-31 20:00:00  0.687500
740404    399.0 2021-07-31 21:00:00  0.823529
740405    399.0 2021-07-31 22:00:00  0.866667
740406    399.0 2021-07-31 23:00:00  0.800000

[740407 rows x 3 columns]

In [55]:
jg_2022 = pd.merge(jg_2022, cluster_total, how = 'left', left_on = '대여소번호', right_on = 'ID')
jg_2022 = jg_2022.dropna()
jg_2022 = pd.DataFrame(jg_2022.groupby(['cluster', '대여일시'])['정기권이용자수', '전체이용자수'].sum()).reset_index()
jg_2022['정기권이용자비율'] = jg_2022['정기권이용자수']/jg_2022['전체이용자수']
jg_2022=jg_2022[['cluster', '대여일시', '정기권이용자비율']]
jg_2022

<ipython-input-55-e09b4a8272ca>:3: FutureWarning: Indexing with multiple keys (implicitly converted to a tuple of keys) will be deprecated, use a list instead.
  jg_2022 = pd.DataFrame(jg_2022.groupby(['cluster', '대여일시'])['정기권이용자수', '전체이용자수'].sum()).reset_index()

        cluster                대여일시  정기권이용자비율
0           0.0 2022-05-01 00:00:00  0.625000
1           0.0 2022-05-01 01:00:00  0.666667
2           0.0 2022-05-01 02:00:00  0.750000
3           0.0 2022-05-01 03:00:00  1.000000
4           0.0 2022-05-01 04:00:00  1.000000
...         ...                 ...       ...
794162    399.0 2022-07-31 15:00:00  1.000000
794163    399.0 2022-07-31 16:00:00  1.000000
794164    399.0 2022-07-31 18:00:00  1.000000
794165    399.0 2022-07-31 19:00:00  1.000000
794166    399.0 2022-07-31 21:00:00  1.000000

[794167 rows x 3 columns]

#최종 데이터프레임에 merge

In [56]:
train = pd.read_csv('/content/drive/MyDrive/데이터셋/6_subway/train_subway.csv')
train['시간'] = pd.to_datetime(train['시간'])
train = pd.merge(train, jg_2021, how = 'left', left_on=['cluster', '시간'], right_on=['cluster', '대여일시'])
train = train.fillna(0)
train = train.drop(columns = ['대여일시'], axis = 1)
train

,cluster,시간,순대여량,기온,풍속,강수량,미세먼지,초미세먼지,volume,정기권이용자비율
0,0,2021-05-01 00:00:00,0.0,11.3,1.3,0.0,31.0,16.0,0.0,0.714286
1,0,2021-05-01 01:00:00,1.0,11.2,1.6,0.0,31.0,17.0,0.0,1.000000
2,0,2021-05-01 02:00:00,-2.0,10.8,1.5,0.0,29.0,16.0,0.0,1.000000
3,0,2021-05-01 03:00:00,2.0,10.9,0.3,0.0,33.0,20.0,0.0,1.000000
4,0,2021-05-01 04:00:00,0.0,10.9,1.3,0.0,36.0,23.0,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...
883195,399,2021-07-31 19:00:00,-7.0,31.2,2.0,0.0,26.0,17.0,972.0,0.727273
883196,399,2021-07-31 20:00:00,-5.0,29.7,1.3,0.0,23.0,15.0,830.0,0.687500
883197,399,2021-07-31 21:00:00,0.0,28.8,1.4,0.0,18.0,12.0,940.0,0.823529
883198,399,2021-07-31 22:00:00,-6.0,28.6,2.0,0.0,18.0,12.0,793.0,0.866667
883199,399,2021-07-31 23:00:00,4.0,28.4,1.1,0.0,21.0,15.0,399.0,0.800000

In [57]:
test = pd.read_csv('/content/drive/MyDrive/데이터셋/6_subway/test_subway.csv')
test['시간'] = pd.to_datetime(test['시간'])
test = pd.merge(test, jg_2022, how = 'left', left_on=['cluster', '시간'], right_on=['cluster', '대여일시'])
test = test.fillna(0)
test = test.drop(columns = ['대여일시'], axis = 1)
test

,cluster,시간,순대여량,기온,풍속,강수량,미세먼지,초미세먼지,volume,정기권이용자비율
0,0,2022-05-01 00:00:00,-7.0,11.9,1.2,0.0,52.0,35.0,0.0,0.625000
1,0,2022-05-01 01:00:00,8.0,11.5,0.8,0.0,47.0,31.0,0.0,0.666667
2,0,2022-05-01 02:00:00,1.0,11.1,0.9,0.0,40.0,25.0,0.0,0.750000
3,0,2022-05-01 03:00:00,0.0,10.0,0.4,0.0,34.0,19.0,0.0,1.000000
4,0,2022-05-01 04:00:00,2.0,9.8,1.1,0.0,31.0,17.0,0.0,1.000000
...,...,...,...,...,...,...,...,...,...,...
883195,399,2022-07-31 19:00:00,0.0,26.7,0.6,0.5,11.0,7.0,970.0,1.000000
883196,399,2022-07-31 20:00:00,0.0,26.5,0.7,0.5,12.0,8.0,830.0,0.000000
883197,399,2022-07-31 21:00:00,0.0,26.1,1.1,17.5,11.0,7.0,879.0,1.000000
883198,399,2022-07-31 22:00:00,-1.0,25.9,0.8,16.5,8.0,5.0,749.0,0.000000
883199,399,2022-07-31 23:00:00,-2.0,25.6,1.3,20.5,6.0,4.0,427.0,0.000000

In [58]:
# train.to_csv('/content/drive/MyDrive/데이터셋/7_정기권/train_jg_ratio.csv', index = False)
# test.to_csv('/content/drive/MyDrive/데이터셋/7_정기권/test_jg_ratio.csv', index = False)